#myChart {
    width: 100%; /* Définir la largeur à 100% pour s'adapter à la largeur du conteneur parent */
    max-width: 600px;
    max-height: 400px; /* Limiter la largeur maximale à 600px */
    height: auto; /* Permettre à la hauteur de s'ajuster automatiquement en fonction de la largeur */
    margin: auto; /* Centrer le graphique si le conteneur est plus large */

    font:bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Ajoute un espacement en haut de la table */
  }
  
  /* Style pour les cellules de l'en-tête */
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style pour les cellules de données */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style pour les lignes impaires */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style pour les lignes au survol de la souris */
  tr:hover {
    background-color: #f2f2f2;
  }

  .chart-container canvas {
    flex: 1;                  /* Assure une répartition égale de l'espace */
    max-width: 400px;         /* Limite la largeur maximum */
    max-height: 400px;        /* Limite la hauteur maximum */
    margin: 10px;             /* Espace entre les graphiques */
  }
  
  .chart-container {
    display: flex;            /* Utilise Flexbox pour aligner les enfants */
    justify-content: center;  /* Centre les enfants horizontalement */
    align-items: center;      /* Centre les enfants verticalement */
  }
  
  .chart-container canvas {
    flex: 1;                  /* Les enfants prennent un espace égal */
    margin: 10px;             /* Ajoute un peu d'espace entre les graphiques */
  }
  /* CSS */
.eco-page {
    text-align: center;
    margin-top: 20px;
}

.eco-page h3 {
    font-size: 24px;
    color: #008000; /* Green color for emphasis */
}

.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Style des canvas */
canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #2ecc71; /* couleur verte par exemple */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


  